
.tiptap-separator {
  &[data-orientation="horizontal"] {
    height: 1px;
    width: 100%;
    background-color: hsl(0 0% 87%);
    margin: 0.5rem 0;
  }

  &[data-orientation="vertical"] {
    height: 100%;
    width: 1px;
    background-color: hsl(0 0% 87%);
    margin: 0 0.5rem;
  }
}
